debugpy==1.6.0
einops==0.4.1
hydra-core==1.2.0
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.2.0
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
notebook==6.4.11
notebook-shim==0.1.0
numpy==1.22.4
Pillow==9.1.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
tensorboard==2.9.0
tensorboard-plugin-wit==1.8.1
toml==0.10.2
torch
torchaudio
torchinfo==1.7.0
torchvision
tornado==6.1
tqdm==4.64.0
pydub
langchain
langchain_community
pydantic
ffmpeg-python
openai
boto3
python-dotenv
